* {
 margin:0;
 padding:0;   
}

body{
    background-color:hsla(0, 100%, 70%, 0.3) ;
}

h1{
    color: rgb(14, 0, 56);
    text-align: justify;
}
.img0{
    border-radius: 30%;
    border-style: solid;
    
}
.img1{
    padding: 20px;
}
.img4{
    width: 500px;
    padding: 20px;
}
.img2{
    border-style: outset;
    border-color: crimson;
}
.img3{
    border-radius: 60%;
}
p{
    text-align: justify;
    text-align: left;
}
h1{
    background-color: cyan;
    text-align: center;
}
h2{
    background-color: rgb(110, 163, 110);
    
    
}
p{
    font-family: "Helvetica";
}
.plain-text > div {
    position:relative;
    margin: 10px;


}
.plain-text > div >div> h2 {
    width: 200px;

}
.plain-text >div> div {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.plain-text >div> div >a {
    margin: 10px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid black;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
@media only screen and (min-width: 800px) {
    .plain-text >div> div >a {
        border: 2px solid black;
        color: white;
        background-color: blue;
    }
     
}